*{
margin: 0;
padding: 0;
text-align: center;
text-decoration: none;
list-style: none;
}


body{
    color: black;
    background-color: silver ;
    background: url("..//img/bg.jpg");
}
img{
    max-width: 100%; width: auto; border: 0;
}

.fundoTopo {
    display: none;
}

.conteudo{
    margin: 0 auto;
    border: 1px solid red;
    max-width: 1000px;
}
header {
    border: 1px solid red;
    max-width: 580px;

}
h2{
    color: #9e2b1d; 
    font-size: 40px;

}
header h3{
    color: #222121;
    font-size: 21px;
    margin-top: 20px;
}
.comprar {
    margin: 30px auto 90px;
    max-width: 450px;
    font-size: 0;
}
.comprar ul li {
    display: inline-block;
    margin: 0 10px;
}
.comprar li a {
    display: block;
    height: 42px;
}
.itunes{
    background: url("../img/retailers.png");
    background-repeat: no-repeat;
    background-position: left top ;
    width: 105px;
}
.spotify{
    background: url("../img/retailers.png")
    no-repeat -281px top;
    width: 182px;
}
.gp{
    background: url("../img/retailers.png")
    no-repeat -484px top;
    width: 114px;
}
.amazon{
    background: url("../img/retailers.png")
    no-repeat -624px top;
    width: 65px;
}
.applemusic{
    background: url("../img/retailers.png")
    no-repeat -127px top;
    width: 133px;
}
.itunes:hover{
    background-position: left bottom;
}
.applemusic:hover{
    background-position: -127px bottom
}
.spotify:hover{
    background-position: -281px bottom
}
.amazon:hover{
    background-position: -624px bottom
}
.gp:hover{
    background-position: -484px bottom
}
section{
    background-color: #9e2b1d;
    padding: 40px 0 60px; 
}
section h1 {
    color: #222121;
    text-transform: uppercase ;
    font-size:  40px ;
    font-weight: 500px;
    padding: 10px 0  15px ;
}